div.container {
    max-width: 100%;
}
div.row {
    height: 100%;
}
div.col{
    width: 100%;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}
div.col-3 {
    max-width: 100%;
}
.container-box {
    display: flex;
    flex-direction: column;
}
.reverse-single {
   display: flex;
   flex-direction: row-reverse;
}
.reverse-single p {
    font-size: 2rem;
}



@media (min-width:580px) {
    .container-box .row{
        display: flex;
    }
}
   